*{
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    width: 165px;
    height: 165px;
}
.choice:hover{
    opacity: 0.6;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.option{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 5rem;
}
#user_score, #comp_score{
    font-size: 4rem;
}
.msg_container{
    margin-top: 3rem;
}
#msg{
    background-color: #081b31;
    color: antiquewhite;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}